* {
    box-sizing: border-box;
}

.header {
    padding: 80px;
    text-align: center;
    background: rgba(0, 0, 0, 0.66);
    color: #020f23;
    font-size: 30px;
}

.header h1 {
    font-size: 40px;
}

.header p {
    font-size: 14px;
}

.navbar a {
    float: left;
    display: block;
    color: #363738;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


.navbar a.right {
    float: right;
}


.navbar a:hover {
    background-color: #505050;
    color: #ffffff;
}

.navbar a.active {
    background-color: #666;
    color: white;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#smallText {
    font-size: 8px;
    color: darkgrey;
}

#ButtonLaunch {
    alignment: left;
    padding: 0.5rem;
    background: grey;
    color: white;
    border-radius: 10rem;
    text-decoration: none;
    display: compact;
}

#ButtonLaunch:hover {
    background: green;
    color: yellow;
}

#Button {
    alignment: left;
    padding: 0.5rem;
    background: lightgreen;
    color: black;
    border-radius: 10rem;
    text-decoration: none;
    display: compact;
}

#Button:hover {
    background: green;
    color: black;
}

#mainButton {
    alignment: center;
    padding: 0.5rem;
    background: #0073ff;
    color: black;
    border-radius: 10rem;
    text-decoration: none;
    display: compact;
}

#mainButton:hover {
    background: green;
    color: black;
}

.e6{
    background-color: rgb(17, 38, 69);
    background-image:url("Images/e621.png");
    background-repeat: repeat-x;
    color:rgb(232, 230, 227) ;
}