*{
    background: #363738;
}
h1 {
    text-align: center;
    color:whitesmoke;
}

#smallText {
    font-size: 8px;
    color: darkgrey;
}

#ButtonLaunch {
    alignment: left;
    padding: 0.5rem;
    background: grey;
    color: white;
    border-radius: 10rem;
    text-decoration: none;
    display: compact;
}
#ButtonLaunch:hover{
    background: green;
    color: yellow;
}
#Button {
    alignment: left;
    padding: 0.5rem;
    background: lightgreen;
    color: black;
    border-radius: 10rem;
    text-decoration: none;
    display: compact;
}
#Button:hover{
    background: green;
    color: black;
}
#mainButton {
    alignment: center;
    padding: 0.5rem;
    background: #0073ff;
    color: black;
    border-radius: 10rem;
    text-decoration: none;
    display: compact;
}
#mainButton:hover{
    background: green;
    color: black;
}